In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [2]:
# Create reference to CSV file
csv_path = "Resources/Soccer2018Data.csv"

# Import the CSV into a pandas DataFrame
soccer_2018_df = pd.read_csv(csv_path, low_memory=False)
soccer_2018_df

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,ST,89.0,53.0,62.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,L. Messi,30,Argentina,93,93,FC Barcelona,RW,92.0,45.0,59.0,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,Neymar,25,Brazil,92,94,Paris Saint-Germain,LW,88.0,46.0,59.0,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,L. Suárez,30,Uruguay,92,92,FC Barcelona,ST,87.0,58.0,65.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,M. Neuer,31,Germany,92,92,FC Bayern Munich,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17976,A. Kelsey,17,England,46,63,Scunthorpe United,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17977,B. Richardson,47,England,46,46,Wycombe Wanderers,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17978,J. Young,17,Scotland,46,61,Swindon Town,ST,44.0,28.0,29.0,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0
17979,J. Lundstram,18,England,46,64,Crewe Alexandra,CM,45.0,46.0,47.0,...,47.0,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0
17980,L. Sackey,18,Ghana,46,64,Scunthorpe United,ST,29.0,45.0,38.0,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0

In [3]:
# Collect a list of all the unique values in "Preferred Position"
soccer_2018_df['Preferred Position'].unique()

array(['ST', 'RW', 'LW', 'GK', 'CDM', 'CB', 'RM', 'CM', 'LM', 'LB', 'CAM',
       'RB', 'CF', 'RWB', 'LWB'], dtype=object)

In [30]:
# Looking only at strikers (ST) to start
strikers = soccer_2018_df.loc[soccer_2018_df['Preferred Position']=='ST']

In [31]:
# Sort the DataFrame by the values in the "ST" column to find the worst
strikers.sort_values('ST', inplace=True)
# Reset the index so that the index is now based on the sorting locations
strikers = strikers.reset_index()
strikers.loc[:, 'index'] = [i for i in strikers.index]
strikers

,index,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,0,L. Sackey,18,Ghana,46,64,Scunthorpe United,ST,29.0,45.0,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0
1,1,M. Zettl,18,Germany,50,67,SpVgg Unterhaching,ST,47.0,32.0,...,39.0,32.0,42.0,36.0,46.0,49.0,43.0,49.0,41.0,43.0
2,2,O. Sowunmi,21,England,59,71,Yeovil Town,ST,35.0,58.0,...,52.0,58.0,37.0,47.0,38.0,38.0,44.0,37.0,49.0,44.0
3,3,E. Mason-Clark,17,England,50,63,Barnet,ST,49.0,33.0,...,39.0,33.0,42.0,35.0,49.0,50.0,45.0,51.0,40.0,45.0
4,4,J. Young,17,Scotland,46,61,Swindon Town,ST,44.0,28.0,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2272,2272,S. Agüero,29,Argentina,89,89,Manchester City,ST,85.0,44.0,...,52.0,44.0,75.0,54.0,87.0,84.0,86.0,86.0,57.0,86.0
2273,2273,G. Higuaín,29,Argentina,90,90,Juventus,ST,81.0,46.0,...,51.0,46.0,71.0,52.0,84.0,79.0,87.0,82.0,55.0,87.0
2274,2274,R. Lewandowski,28,Poland,91,91,FC Bayern Munich,ST,84.0,57.0,...,58.0,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0
2275,2275,L. Suárez,30,Uruguay,92,92,FC Barcelona,ST,87.0,58.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
2276,2276,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,ST,89.0,53.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0

In [33]:
# Save all of the information collected on the worst striker
strikers.loc[strikers.ST == strikers.ST.min()]

,index,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,0,L. Sackey,18,Ghana,46,64,Scunthorpe United,ST,29.0,45.0,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0

In [34]:
strikers.iloc[0:1]

,index,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,0,L. Sackey,18,Ghana,46,64,Scunthorpe United,ST,29.0,45.0,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0